<!-- Navigation -->
<nav class="navbar">
    <div class="container">
        <a href="../index.html" class="navbar-brand d-flex align-items-center" id="navBrand">
            <img src="../assets/images/logo.svg" alt="Navinya Foundation Logo" class="navbar-logo">
            <span>Navinya Foundation</span>
        </a>
        <button class="navbar-toggler" id="navToggle">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav" id="navMenu">
            <li><a href="../index.html" class="nav-link" id="navHome">Home</a></li>
            <li><a href="../pages/about.html" class="nav-link" id="navAbout">About Us</a></li>
            <li><a href="../pages/programs.html" class="nav-link" id="navPrograms">Programs</a></li>
            <li><a href="../pages/impact.html" class="nav-link" id="navImpact">Impact</a></li>
            <li><a href="../pages/blog.html" class="nav-link" id="navBlog">News</a></li>
            <li><a href="../pages/events.html" class="nav-link" id="navEvents">Events</a></li>
            <li><a href="../pages/contact.html" class="nav-link" id="navContact">Contact</a></li>
            <li><a href="../pages/donate.html" class="btn btn-primary" id="navDonate">Donate Now</a></li>
        </ul>
    </div>
</nav>